<div *ngIf="events.length > 0" class="lumina-card lumina__room waste-tile lumina__fade">
  <div class="lumina__room-top">
    <div class="lumina__room-icon">
      <span class="material-symbols-outlined">delete</span>
    </div>
  </div>
  <div class="lumina__room-body">
    <h3 class="lumina__room-name">Müllabfuhr</h3>
    <div class="waste-tile__rows">
      <div
        *ngFor="let event of events; trackBy: trackByEvent"
        class="waste-tile__row"
        [class.waste-tile__row--tomorrow]="isTomorrow(event)"
      >
        <span class="waste-tile__day">{{ relativeDayLabel(event) }}</span>
        <span class="waste-tile__label">{{ event.label }}</span>
      </div>
    </div>
  </div>
</div>
