<div class="switch-list" [ngClass]="'switch-list--' + variant">
  <button
    *ngFor="let item of switches"
    type="button"
    class="switch-list__row"
    [class.switch-list__row--on]="isOn(item)"
    [class.switch-list__row--unavailable]="!item.available"
    [disabled]="isPending(item)"
    [attr.aria-pressed]="isOn(item)"
    (click)="toggled.emit(item)"
  >
    <span class="material-symbols-outlined switch-list__icon">{{ item.icon }}</span>
    <span class="switch-list__name">{{ item.displayName }}</span>
    <span *ngIf="powerLabel(item)" class="switch-list__power">{{ powerLabel(item) }}</span>
    <span class="switch-list__state">{{ stateLabel(item) }}</span>
    <span class="switch-list__toggle" aria-hidden="true">
      <span class="switch-list__knob"></span>
    </span>
  </button>
</div>
